html {
    position: relative;
    min-height: 100%;
}

.container {
    max-width: 960px;
    position: relative;
    height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Navigation */
.navbar {
    background-color: rgba(0, 0, 0, 0.85) !important; /* Override Bootstrap's default dark theme */
}
.navbar a {
    color: #999999;
    transition: ease-in-out color 0.15s;
}
.navbar a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* Others */
.p-link {
    text-decoration: none;
    color: #3399FF;
}

/* Trying to get both image and text dynamically change same time while hover wherever this link's area */
/* need to fix this */
.footer-link {
    display: inline;
}

.footer-link .footer-text:hover, img:hover {
    text-decoration: none;
    filter: brightness(100%);
}

.footer-img {
    filter: brightness(50%);
}

.footer-img:hover {
    filter: brightness(100%);
}

.footer-text {
    text-decoration: none;
    color: #FFFFFF;
    filter: brightness(50%);
}
/* End */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

/* Card Properties */
.card-img-top {
    height: 225px;
    width: 100%;
    display: block;
}

.source-link img {
    height: 30px;
    width: 80px;
    opacity: 40%;
}

.source-link img:hover {
    opacity: 100%;
}